<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="query_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="query" type="xstring" value="#coronavirus OR #covid-19 OR #covid"/>
<config key="type_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="type" type="xstring" value="mixed"/>
<config key="rows_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="rows" type="xint" value="100"/>
<config key="selected_tweet_fields_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_stringarray"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="selected_tweet_fields">
<entry key="array-size" type="xint" value="11"/>
<entry key="0" type="xstring" value="Tweet"/>
<entry key="1" type="xstring" value="Tweet ID"/>
<entry key="2" type="xstring" value="Time"/>
<entry key="3" type="xstring" value="Favorited Count"/>
<entry key="4" type="xstring" value="Retweeted Count"/>
<entry key="5" type="xstring" value="Is Favourited"/>
<entry key="6" type="xstring" value="Is Retweeted"/>
<entry key="7" type="xstring" value="Is Retweet"/>
<entry key="8" type="xstring" value="Retweet from"/>
<entry key="9" type="xstring" value="Geo Location"/>
<entry key="10" type="xstring" value="Country"/>
</config>
<config key="selected_user_fields_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_stringarray"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="selected_user_fields">
<entry key="array-size" type="xint" value="14"/>
<entry key="0" type="xstring" value="User (Screen Name)"/>
<entry key="1" type="xstring" value="Profile Image"/>
<entry key="2" type="xstring" value="Name"/>
<entry key="3" type="xstring" value="ID"/>
<entry key="4" type="xstring" value="Description"/>
<entry key="5" type="xstring" value="URL"/>
<entry key="6" type="xstring" value="Creation Time"/>
<entry key="7" type="xstring" value="Language"/>
<entry key="8" type="xstring" value="Location"/>
<entry key="9" type="xstring" value="Time Zone"/>
<entry key="10" type="xstring" value="Statuses Count"/>
<entry key="11" type="xstring" value="Followers Count"/>
<entry key="12" type="xstring" value="Friends Count"/>
<entry key="13" type="xstring" value="Favourites Count"/>
</config>
<config key="number_retries_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="number_retries" type="xint" value="0"/>
<config key="return_rows_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="return_rows" type="xboolean" value="true"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="#coronavirus OR%%00013%%00010#covid-19 OR #covid"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="202"/>
<entry key="y-coordinate" type="xint" value="359"/>
<entry key="width" type="xint" value="117"/>
<entry key="height" type="xint" value="30"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="2"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.twitter.api.nodes.search.TwitterSearchFactory"/>
<entry key="node-name" type="xstring" value="Twitter Search"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Twitter API Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.twitter.api"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.2.0.v201912131004"/>
<entry key="node-feature-name" type="xstring" value="KNIME Twitter Connectors"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.twitter.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.2.0.v202003120757"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Twitter Search"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 100, Cols: 26"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="831d30f6-ff41-4473-8140-a1e86bb42796"/>
</config>
</config>
